
{% include './main.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body{
      background-color: #FFF7D4;
    }
    .card-body1{
      background-color:#27d1e4;
      padding-top: 10px;
      padding-left: 5px;
      padding-bottom: 10px;
    }
  </style>
</head>
<body>
  <br>
<br>
<div class="row">
    <div class="col">
<div class="card" style="width: 15rem;">
    <div class="card-body1">
      <h5 class="card-title">Total Orders</h5>
      <h3 style="text-align: center;padding: 10px;" class="card-text">{{total_orders}}</h3>
      
    </div>
  </div>
</div>

<div class="col">
    <div class="card" style="width: 15rem;">
      <div class="card-body1">
        <h5 class="card-title">No.of Customers</h5>
        <h3 style="text-align: center;padding: 10px;" class="card-text">{{total_customers}}</h3>
        
      </div>
    </div>
  </div>

<div class="col">
  <div class="card" style="width: 15rem;">
    <div class="card-body1">
      <h5 class="card-title">Orders Delivered</h5>
      <h3 style="text-align: center;padding: 10px;" class="card-text">{{delivered}}</h3>
      
    </div>
  </div>
</div>

<div class="col">
  <div class="card" style="width: 15rem;">
    <div class="card-body1">
      <h5 class="card-title">Orders Pending</h5>
      <h3 style="text-align: center;padding: 10px;" class="card-text">{{pending}}</h3>
      
    </div>
  </div>
</div>


</div>







</body>
</html>
