{% load static %}
{% include 'test_app/blog.html' %}

<br>
<style>
    body{
        background-color: #FFF7D4;
    }
</style>
<br>
<div class="row">
    <div class="col-md">
        <h5 style="text-align: center;">Customers</h5>
            <hr style="margin-left:30px;">
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="">Create Customer</a>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>     view</th>
                    <th>Customer</th>
                    <th>Phone</th>
                    
                </tr>
                {% for customer in customers %}
                <tr>
                    <td><a class="btn btn-sm btn-info" href="{% url 'customers' customer.id %}"> view</a></td>
                    <td>{{customer.name}}</td> 
                    <td>{{customer.phone}}</td>
                    
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>


<br>

    <div class="col-md">
        <h5 style="text-align: center;">Last five Orders</h5>
        <hr style="margin-left: 30px; margin-right: 20px;">
        <div class="card card-body" >
            <a class="btn btn-primary btn-sm btn-block" href="{% url 'order_form' %}">Create Order</a>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Products</th>
                  
                    <th>Date Ordered</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                {% for order in orders %}
           
                <tr>
                    <td>{{order.customer}}</td>
                    <td>{{order.product}}</td> 
                    
                    <td>{{order.date_created}}</td>
                    <td>{{order.status}}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'delete' order.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
                
            </table>
        </div>
    </div>

</div>
